.card:hover {
  transition: 1s;
  -webkit-box-shadow: -12px -9px 22px 3px rgba(66, 68, 90, 1);
  -moz-box-shadow: -12px -9px 22px 3px rgba(66, 68, 90, 1);
  box-shadow: -12px -9px 22px 3px rgba(66, 68, 90, 1);
}

.articlePhoto {
  width: 500px;
  height: 400px;
}

.a {
  text-decoration: none;
  color: inherit;
}

.readSingleArticle {
  font-size: 20px;
}
