img {
  width: 200px;
  height: 300px;
}

.card:hover {
  transition: 1s;
  -webkit-box-shadow: -12px -9px 22px 3px rgba(66, 68, 90, 1);
  -moz-box-shadow: -12px -9px 22px 3px rgba(66, 68, 90, 1);
  box-shadow: -12px -9px 22px 3px rgba(66, 68, 90, 1);
}

.Products {
  text-decoration: none;
  color: inherit;
}

#MainContent {
  margin-bottom: 50px;
}


.customFont{
  font-size: 20px;
}

.categories{
  font-size: 23px;
}

.singleCategory{
  margin-top: 10px;
}

.productsFromDatabase{
  min-height: 350px;
  margin-top: 10px;
}


@media only screen and (max-width: 600px) {

.categories{
  text-align:center; display: inline-block; vertical-align: middle;
  margin-left: 15%;
}

.singleCategory{
  display:inline;
  margin-left: 10px;
}

.productsFromDatabase{
  min-height: 300px;
  margin-top: 10px;
}


}