#inputSzukaj {
  height: 40px;
  border-radius: 60px;
  outline: none;
  border: 2px solid green;
}

sup{
  color:red;
  font-weight: bold;

}

#szukaj {
  height: 40px;
  border-radius: 60px;
  outline: none;
  border: 2px solid green;
}

.login {
  font-size: 18px;
}

.logout {
  font-size: 18px;
}

.nav-item {
  margin-right: 20px;
}

.nav-link {
  margin-left: 10px;
  margin-right: 10px;
  color: black;
}

.nav-link:hover {
  color: black;
}

.collapse {
  margin-top: 5px;
}

.MainHref {
  font-size: 25px;
}

@media only screen and (max-width: 1000px) {
  #bigMenu {
    visibility: hidden;
  }

  .newLittleMenu {
    visibility: visible;
  }

  #searchMenu{
    margin: auto;
    width: 60%;
    padding: 10px;
  }

  #inputSzukaj {
    text-align: center;
  }

  #szukaj {
    text-align: center;
  }

  .alittle {
    font-size: 20px;
    margin-left: 16px;
  }
}

@media only screen and (min-width: 1000px) {
  #bigMenu {
    visibility: visible;
  }

  .newLittleMenu {
    visibility: hidden;
  }

  .alittle {
    font-size: 1px;
  }

  #searchMenu{
    margin: auto;
    width: 25%;
    padding: 10px;
  }

  #inputSzukaj {
    text-align: center;
  }

  #szukaj {
    text-align: center;
  }
}
