.mypicture{
  background-image: url("../Components/Images/glownaLogo.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 250px;
}

#upperPhoto {
  height: 250px;
  width: 80%;
}

#produktyDnia {
  max-width: 1000px;
}

#popularneProdukty {
  max-width: 1000px;
}

.links{
  text-decoration: none;
  color: inherit;
}

.hideLongText {
  display: block;
  width: 600px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.hideLongText2Articles {
  display: block;
  width: 450px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.bestsellers{
  width: 200px;
  height: 200px;
}

.articlesImages{
  width: 300px;
  height: 300px;
}

#dayArticleImage{
  width: 250px;
  height: 250px;
}

#shopDesc{
  font-size: 27px;
}