@media only screen and (max-width: 800px) {
    .email{
      display: none;
    }
    
    .date{
      display: none;
    }
  
    .key{
      display: none;
    }
    
    .status{
        display: none;
    }
  }